<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.library_management.mapper.BookLentMapper">
    <insert id="insertBookLent">
        insert into tbl_book_lent
        (book_lent_return_date, user_id, book_id)
        values(#{bookLentReturnDate}, #{userId}, #{bookId});
    </insert>
</mapper>